<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-info">
            
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Internet Status Changes
                    </h2>
                </div>
                <div class="panel-body">
                    <h3>
                    
                        <%=@internet_status_changes.first.user.email%>
                    </h3>
                </div>
                    <ul class="list-group">
                    
                    <li class="list-group-item">
        
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Active</th>
                                <th>Comment</th>
                                <th>Date Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                        <%@internet_status_changes.each do |internet_status_change| %>
                            <tr>
                                <td><%=internet_status_change.active%></td>
                                <td><%=internet_status_change.comment%></td>
                                <td><%=internet_status_change.created_at.strftime("%A, %b %d, %Y")%></td>
                            </tr> 
                        <%end%>
                        </tbody>
                    </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>